<header class="container py-3 header">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <img src="/images/logo.png" alt="logo" class="logo" />

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>
      </div>
    </div>
  </header>