<!DOCTYPE html>
<html lang="en">
  <%- include("partials/title.ejs") %>

  <body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>

    <div class="container py-5">
      <h1>About Lyrical</h1>
      <p class="py-5">
        Lyrical is a web application that searches and returns the lyrics of a
        song based on the artist and title entered by the user.
      </p>
      <div class="d-flex justify-content-center">
        <img src="/images/home.png" alt="Lyrical logo" class="about" />
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
